<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabila</title>
    <link rel="stylesheet" href="style.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <style>
		
		body{
    margin: 0;
    padding: 0;
}

.product-one{
    margin-top: 50px;
    margin-left: 110px;
    width: 230px;
    height: 450px;
    float: left;
    border: 1px solid #f1f1f1;
}
.product-one:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-one img{
    width: 190px;
    height: 180px;
    margin-left: 10px;
}
.product-one h3{
    text-align: center;
}
.product-one p{
    text-align: center;
}
.product-one h4{
    text-align: center;
}
.product-one a{
    position: absolute;
    background-color: #ec008c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}



/*-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.product-two{
    margin-top: 50px;
    margin-left: 10px;
    width: 250px;
    height: 450px;
    float: left;
    border: 1px solid #f1f1f1;
}
.product-two:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-two img{
    width: 210px;
    height: 180px;
    margin-left: 10px;
}
.product-two h3{
    text-align: center;
}
.product-two p{
    text-align: center;
}
.product-two h4{
    text-align: center;
}
.product-two a{
    position: absolute;
    background-color: #ec008c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}


/*-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.product-three{
    margin-top: 50px;
    margin-left: 10px;
    width: 250px;
    height: 450px;
    float: left;
    border: 1px solid #f1f1f1;
}
.product-three:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-three img{
    width: 210px;
    height: 180px;
    margin-left: 10px;
}
.product-three h3{
    text-align: center;
}
.product-three p{
    text-align: center;
}
.product-three h4{
    text-align: center;
}
.product-three a{
    position: absolute;
    background-color: #ec008c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}


/*-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.product-four{
    margin-top: 50px;
    margin-left: 10px;
    width: 250px;
    height: 450px;
    float: left;
    border: 1px solid #f1f1f1;
}
.product-four:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-four img{
    width: 210px;
    height: 180px;
    margin-left: 10px;
}
.product-four h3{
    text-align: center;
}
.product-four p{
    text-align: center;
}
.product-four h4{
    text-align: center;
}
.product-four a{
    position: absolute;
    background-color: #ec008c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}



.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid rgb(187, 187, 187);
  }
  .sidenav h4{
      color: black;
      background-color: brown;
      font-size: 20px;
      font-weight: 300;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-left: 15px;
      margin-right: 15px;
      padding-left: 10px;
  }
  
  .sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(90, 86, 86);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Baloo Chettan 2', cursive;
  }
  .dropdown-btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(85, 83, 83);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Baloo Chettan 2', cursive;
  }
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: red;
  }
  

  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
  
  .active {
    background-color:#fff;
    color: rgb(85, 83, 83);
  }
  
  
  .dropdown-container {
    display: none;
    background-color: #fff;
    padding-left: 30px;
  }
  .dropdown-container a{
      color: rgb(138, 138, 138);
      border-left: 1px solid rgb(138, 138, 138);
      font-weight: 400;
  }
  
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
		
    </style>





</head>
<body>
    <div class="main">
        <% for( i=0; i< data.length;i++){ %>
        <div class="product-one">
           
            <img src= <%- data[i].url %> alt="">
            <h3><%= data[i].name %></h3>
            <p><%= data[i].amount %> gm</p>
            <h4><%= data[i].price %> ৳ </h4>
            <h4><%= data[i].catagory %> </h4>
            <a href="#">Add to cart</a>
            
            
        </div>
        <% } %>
    </div>


    <div class="sidenav">
        <h4>Great Saving !!!</h4>
        

        <!-- ===================== -->

        <button class="dropdown-btn">Baby Food & Care
        </button>
        

        <!-- ========================= -->


        <a href="#contact">Chocolates & Candies </a>

        <!-- ===== -->

        <button class="dropdown-btn">Sports
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#">Cricket</a>
            <a href="#">Football</a>
            <a href="#">Badminton</a>
          </div>

          <!-- ===== -->

          <button class="dropdown-btn">Fruits & Vegetables
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#">Apple</a>
            <a href="#">Ladys Finger</a>
          </div>

      <!-- ===== -->

      <button class="dropdown-btn">Meat & Fish
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="#">Beef</a>
        <a href="#">Chicken</a>
        <a href="#">Fish</a>
      </div>


  <!-- ===== -->
    <a href="#">Breads</a>
    <a href="#">Biscuits</a>
    <a href="#">Cakes</a>
  <!-- ===== -->

  <button class="dropdown-btn">Books
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Horror</a>
    <a href="#">History</a>
    
  </div>
  <!-- ===== -->

    <a href="#">Snacks Foods</a>
    <a href="#">Instant Foods</a>
  <!-- ========== -->

  <a href="#OurOwnProducts">Household Items</a>

  <a href="#OurOwnProducts">Bags</a>

  
  
  
</div>





      <script>
          var baby = document.getElementsByClassName("dropdown-btn");
         
var i;

for (i = 0; i < baby.length; i++) {
  baby[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var babyContent = this.nextElementSibling;
    if (babyContent.style.display === "block") {
      babyContent.style.display = "none";
    } else {
      babyContent.style.display = "block";
    }
  });
}

</script>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="bootstrap.min.js"></script>

</body>
</html>